
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(255, 121, 144);
}



header {
    background-color: #b073c9;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 24px;
}



main {
    padding: 20px;
}



.intro {
    background-color: white;
    padding: 20px;
    margin-bottom: 24px;
}

.intro h2 {
    margin-bottom: 10px;
}



.cards-container {
    font-size: 0;
}

.cards-container article {
    background-color: #e2eaf1;
    padding: 20px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
}

.cards-container article h2 {
    margin-bottom: 10px;
}



footer {
    background-color: rgb(186, 231, 231);
    color:black;
    text-align: center;
    padding: 20px;
    margin-top: 24px;
}



@media (min-width: 768px) {

    .cards-container article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }

}
